<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deividas.personaltrainer_dissertation_15085480">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TrainerRecords"></activity>
        <activity android:name=".TrainerMealPlan" />
        <activity android:name=".MyActivityTrainer" />
        <activity android:name=".TrainerMessages" />
        <activity android:name=".TrainerActivity" />
        <activity android:name=".TrainerList" />
        <activity android:name=".Myactivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".TraineeActivity" />
        <activity android:name=".MealPlan" />
        <activity android:name=".Trainers" />
        <activity android:name=".UpdateRecords" />
        <activity android:name=".Settings" />
        <activity android:name=".Messages" />
        <activity android:name=".Workout" />
        <activity android:name=".WorkoutDetail" />
    </application>

</manifest>